<!-- Styling under login.scss -->

<div class="container-fluid">
  <div class="col-md-6 col-md-offset-3">
    <div class="login-fields">
      <h2 class="login-title">Sign Up</h2>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true %>
        </div>
        <div class="field">
          <%= f.label :password %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
          <%= f.password_field :password, autocomplete: "off" %>
        </div>
        <div class="field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
        </div>
        <div class="actions">
          <%= f.submit "Submit", class: 'btn btn-success' %>
        </div>
        <% end %>
      
        <%= render "devise/shared/links" %>

       <!-- Add space between footer -->
      <div class="row space"></div>
    </div><!-- ./login-fields -->
  </div><!-- ./col-md-6 col-md-offset-3 --> 
</div><!-- ./container -->
