<!-- Used for entering all data for a new dog -->
<!-- Styling supported by dogs.scss -->

<div class="col-md-6 col-md-offset-3">
  <h1 id="adoptable-title">Add A New Dog</h1>
  
    <!-- Setup client side validation, inform user of missing data upon entry -->
    <%= simple_form_for @dog, validate: true, html: { multipart: true } do |f| %>
      <%= f.input :animal_id, label: 'Animal ID' %>
      <%= f.input :name %>
      <%= f.input :status, collection: Dog::STATUS_CHOICE, label: 'Status' %>
      <%= f.input :gender, collection: Dog::GENDER_CHOICE, label: 'Gender' %>
      <%= f.input :weight, as: :integer %> 
      <%= f.input :age, collection: Dog::AGE_CHOICE, label: 'Age' %> 
      <%= f.input :breed_type, as: :radio_buttons, collection: ['Purebreed', 'Blend'] %>
      <%= f.input :breed_one, collection: Dog::BREED_CHOICE, label: 'Breed One' %> 
      <%= f.input :breed_two, collection: Dog::BREED_CHOICE, label: 'Breed Two' %>          
      <%= f.input :cat_compatible, collection: Dog::CAT_CHOICE, label: 'Cat Compatibility' %> 
      <%= f.input :dog_compatible, collection: Dog::DOG_CHOICE, label: 'Dog Compatibility' %>
      <%= f.input :human_compatible, collection: Dog::HUMAN_CHOICE, label: 'Human Compatibility' %>
      <%= f.input :energy_level, collection: Dog::ENERGY_CHOICE, label: 'Energy Level' %> 
      <%= f.input :temperament, collection: Dog::TEMPERAMENT_CHOICE, label: 'Temperament' %> 
      <%= f.input :fee, as: :integer  %>
      <%= f.text_area :description, label: 'Description', rows: 8,  placeholder: 'Add additional info.' %>
      <%= f.file_field :image %>
      <%= f.submit :submit, class: 'btn btn-success center-block' %>
    <% end %>
</div><!-- ./col-md-6 col-md-offset-3 -->





