<!-- Styling supported by dogs.scss -->
<!-- Adopton Process description -->

<div class="container-fluid">  
  <div class="row space">
    <div class="col-md-4">
      <span class="glyphicon glyphicon-heart heart"></span>
    </div>
    <div class="col-md-8 feature-right">
    <h3>Our Adoption Process</h3>
      <p>The rescue will not deviate nor make exceptions from this adoption process. This ensures that we pair dogs that are compatible with your family's lifestyle and household environment. We do not use the first-come, first-serve method in selecting potential adopters. We only do private, in-home adoptions around the Detroit area. We do not ship dogs to other states.</p> 
      <p>Our adoption process consists of the following steps.</p>
        <ol>
  	      <li>Adoption application</li>
  	      <li>Phone interview</li>
  	      <li>Meet-and-greet</li>
  	      <li>Reference checks</li>
  	      <li>Home visit</li>
  	      <li>Adoption agreement</li>
        </ol>
        <p>All of our dogs have received the following.</p>
  	      <ul>
  	        <li>Spay/neuter surgery</li>
  	        <li>Full vaccinations</li>
  	        <li>Heartworm test (treated if positive, on preventatives if negative)</li>
            <li>Flea preventative</li>
  	        <li>Microchip</li>
  	      </ul>
  	    <p>The adoption fees vary, and are based on the the age and history of the dog, medical expenses, and transportation costs.</p>
        <p>We are working on an online form, but in the meantime you are welcome to download or print a PDF version. If you are using an Android phone, you will need to install Adobe Acrobat Reader or Word</p>
        <p>If you are ready to fill-out an application, please click the button. You will need to create a username and password. You will also be able to save the form and finish completing it at a later time.</p> 
        <p><span class><%= link_to "Contact Us", new_contact_path %></span> if you have questions, or would like more information about our dogs. 
        <%= button_to "Application", about_path, class: 'btn btn-default center-block' %>
      </p>
    </div><!-- ./col-md-8 feature-right -->
  </div><!-- ./row space -->
</div><!-- ./container -->