<!-- Styling supported by dogs.scss -->

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <h2 class="headers">Ways To Help</h2>
      <hr>
    </div>
  </div>
  <div class="row space">
    <div class="col-md-8 feature-left">
    <h3 class="headers">Adoption Events</h3>
      <p>Volunteers are needed to assist the foster parents and their dogs with setting up crates, walking and playing with dogs, and of course cleanup. Dress comfortably, bring a folding chair, and be prepared to have some fun. If you are at least 18 years old, and have an hour or more to spare, we would love to have you.</p> 
      <p>Please contact Beaches directly for more information. You can also like their Facebook page if you have any questions. Volunteers for the Compass Adoption Events are provided by Beaches.</p>   
    </div>
    <div class="col-md-4">
      <div class="special">
      <p>placeholder</p>
      <p>Beaches Pet Resort and Training Center</br> 
         29335 Harper Ave</br>
         St. Clair Shores, MI 48081</br>
      </p>
      <p><%= link_to image_tag("FB-FindUsonFacebook-online-114.png", class: "img-responsive center-block"), "https://www.facebook.com/Beaches-Pet-Resort-Training-Center-459928417482107/", alt: "Facebook link", target: "_blank" %>
      </p>
      </div><!-- special --> 
    </div><!-- ./col-md-4 -->
  </div><!-- ./row space -->

  <div class="row space">
    <div class="col-md-8 feature-left">
    <h3 class="headers">Donations</h3>
      <p>We are in need of the following items for our rescue. Donations can be dropped off at our adoption events, or arrangements can be made for another time. However, please contact Compass Dog Rescue in advance for scheduling.</p>
      <ul>
        <li>Dog and puppy food</li>
        <li>Collars and leashes (all sizes)</li>
        <li>Dog snacks</li>
        <li>Towels, sheets, blankets, dog beds (new and used)</li>
        <li>Paper towels, cleaning supplies</li>
        <li>Dog coats and jackets (new and used)</li>
        <li>Dog crates (new or used)</li>
      </ul>
      <p>You can also visit our <%= link_to "Amazon Wish List", "https://www.amazon.com/gp/registry/wishlist/36EKRNR2SQGCA/ref=cm_sw_su_w", alt: "Amazon Link", target: "_blank" %> page to view a list of needed items and make a purchase.</p>
     </div><!-- ./col-md-8 feature-left -->
     <div class="col-md-4">
       <p>We also welcome monetary donations. You can mail a check or donate via PayPal.</p>
       <p class="special">Compass Dog Rescue</br> 
         123 Street</br>
         City, MI 12345</br>
      </p>
          <h3 class="special">Donate via PayPal</h3>
          <%= render 'shared/paypal' %>
      </div><!-- ./col-md-4 -->
  </div><!-- ./row space -->

  <div class="row space">
    <div class="col-md-8 feature-left">
    <h3 class="headers">Volunteer</h3>
    <p>There are many ways you can help our rescue. Below are some of the areas we need assistance, but we are open to all ideas. You can always contact us with your suggestions.</p>
    <p>If you are interested in fostering in Texas or Michigan, please fill out an application. Foster parents are provided with crates, food, heartworm and flea preventative. We even cover the costs of medical expenses. You can also volunteer to transport dogs to their doctor's appointments or to another foster.</p>
    <ul>
      <li>Fostering</li>
      <li>Fundraising</li>
      <li>Grant writing</li>
      <li>Dog training</li>
      <li>Dog walking</li>
      <li>Transport dogs to adoption events, doctor's appointments, etc</li>
      <li>Sharing our information on social media</li>
    </ul>
  </div>
  <div class="col-md-4">
      <p>placeholder</p>
    </div><!-- ./col-md-4 -->
  </div><!-- ./row space -->
</div><!-- ./container -->
        

         