<!-- Foster Dog page -->
<div class="container">

  <!-- Foster Dogs Page Header -->
  <div class="row">
    <div class="col-lg-12">
      <h1 class="headers">Foster Dogs</h1>
      <p>Dogs on this page are located in the South Texas area. They will not be available for adoption, until they arrive in Michigan. However, you can begin the screening process early by submitting an application.</p>
    </div>
  </div><!-- /.row -->   

  <!-- 3 columns per row -->
  <% @dogs.each_slice(3) do |dogs| %>
    <div class="row space"> 
      <% dogs.each do |dog| %> 
         <div class="col-md-4 adoptable-profile">
          <p><%= image_tag dog.image_url(:thumb), class: "img-responsive img-adoptable center-block" %><p>
          <h4 class="dog-title"><strong>Animal ID:</strong> <%= dog.animal_id %></h4>
          <h4 class="dog-title"><strong>Name:</strong> <%= dog.name %></h4>
            <ul>
              <li class="description"><strong>Gender:</strong> <%= dog.gender %></li>
              <li class="description"><strong>Weight:</strong> <%= dog.weight %> lbs</li>
              <li class="description"><strong>Age:</strong> <%= dog.age %></li>
              <li class="description"><strong>Breed Type:</strong> <%= dog.breed_type %></li>
              <li class="description"><strong>Primary Breed:</strong> <%= dog.breed_one %></li>
              <li class="description"><strong>Secondary Breed:</strong> <%= dog.breed_two %></li>
              <li class="description"><strong>Cat Compatibility:</strong> <%= dog.cat_compatible %></li>
              <li class="description"><strong>Dog Compatibility:</strong> <%= dog.dog_compatible %></li>
              <li class="description"><strong>Human Compatibility:</strong> <%= dog.human_compatible %></li>
              <li class="description"><strong>Energy Level:</strong> <%= dog.energy_level %></li>
              <li class="description"><strong>Temperament:</strong> <%= dog.temperament %></li>
              <li class="description"><strong>Adoption Fee:</strong> $<%= dog.fee %></li>
            </ul>  
          <p class="dog-description"><%= dog.description %></p>
        </div><!-- /.col-md-4 foster-profile-->  
       <%#= will_paginate @dogs %>
      <% end %>
    </div><!-- /.row space -->
  <% end %>
</div><!-- /.container -->

