<!-- Display single dog after being entered into form -->
<div class="container-fluid">

  <!-- Individual Dog Page Header -->
  <div class="row space">
    <div class="col-lg-12">
      <h1 class="headers">Individual Dog Info</h1>
      <p class="adoptable-header">This displays the dog you just entered. The <i>Back</i> button will return you to the <i>Enter A New Dog</i> page. Or you can click the <i>Edit</i> button to make changes for any dog already added to either the Foster or Adoptable page.</p>
    </div>
  </div><!-- /.row -->  

  <div class="row">
    <div class="col-md-4">
      <%= link_to 'Back', new_dog_path, class: 'btn btn-primary pull-right' %> 
    </div>
    <div class="col-md-4">
      <div class="adoptable-profile">
        <p><%= image_tag @dog.image_url(:thumb), class: "img-responsive img-adoptable center-block" %><p>
        <h4 class="dog-title"><strong>Animal ID:</strong> <%= @dog.animal_id %> | <strong>Name:</strong> <%= @dog.name %></h4>
        <ul>
          <li class="description"><strong>Gender:</strong> <%= @dog.gender %></li>
          <li class="description"><strong>Weight:</strong> <%= @dog.weight %> lbs</li>
          <li class="description"><strong>Age:</strong> <%= @dog.age %></li>
          <li class="description"><strong>Breed Type:</strong> <%= @dog.breed_type %></li>
          <li class="description"><strong>Primary Breed:</strong> <%= @dog.breed_one %></li>
          <li class="description"><strong>Secondary Breed:</strong> <%= @dog.breed_two %></li>
          <li class="description"><strong>Cat Compatibility:</strong> <%= @dog.cat_compatible %></li>
          <li class="description"><strong>Dog Compatibility:</strong> <%= @dog.dog_compatible %></li>
          <li class="description"><strong>Human Compatibility:</strong> <%= @dog.human_compatible %></li>
          <li class="description"><strong>Energy Level:</strong> <%= @dog.energy_level %></li>
          <li class="description"><strong>Temperament:</strong> <%= @dog.temperament %></li>
          <li class="description"><strong>Adoption Fee:</strong> $<%= @dog.fee %></li>
        </ul>
        <p class="description"><%= @dog.description %></p>    
      </div><!-- adoptable-profile -->
    </div><!-- col-md-3 -->
    <div class="col-md-4">
      <%= link_to 'Edit', edit_dog_path, class: 'btn btn-success pull-left' %> 
    </div>
  </div><!-- row -->  
</div><!-- container -->

