<!-- Styling under login.scss -->

<div class="container-fluid">
  <div class="col-md-6 col-md-offset-3">
    <div class="login-fields">
     <h2 class="login-title">Forgot your password?</h2>
       <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
       <%= devise_error_messages! %>
       <div class="field">
         <%= f.label :email %><br />
         <%= f.email_field :email, autofocus: true %>
       </div>
       <div class="actions">
         <%= f.submit "Submit", class: 'btn btn-success' %> 
       </div>
       <% end %>
       <%= render "devise/shared/links" %>
       
       <!-- Add space between footer -->
       <div class="row space"></div>
    </div><!-- login-fields -->
  </div><!-- col-md-6 col-md-offset-3 -->
</div><!-- container -->