<footer class="container-fluid bg-blue">
  <div class="row">
    <div class="col-md-4">
      <p>Compass Dog Rescue<span class='glyphicon glyphicon-copyright-mark'></span> 2017 
      </p>
    </div>
    <div class="col-md-4 center-logos">
    <!-- Facebook Logo -->
      <p><%= link_to image_tag("FB-f-Logo__white_57.png", class: "img-responsive center-block"), "https://www.facebook.com/compassdogrescue/?fref=ts", alt: "Facebook Logo", target: "_blank" %>
      </p>
    </div>
    <div class="col-md-4">
      <p class="pull-right"><%= link_to "Back To Top", "#", class: "btn btn-default" %>
      </p>
    </div>
  </div><!-- row -->
</footer>

   