<div class="container">
  <div class="jumbotron">
    <div class="row">
      <div class="col-lg-12">
        <h1 id="compass-title">Compass Dog Rescue</h1> 
  	    <%= image_tag("MapImage.png", class: "img-responsive img-map center-block", alt: "Compass map") %>
  	  </div>
  	</div>
  </div><!-- /.jumbotron --> 
</div><!-- /.container -->
