<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <a class="navbar-brand"><%= link_to image_tag("CompassPawsOne.png", class: "img-responsive img-logo center-block", alt: "Compass Logo"), root_path %></a> 
    </div><!-- navbar-header -->

    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">   
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "About Us", about_path %></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Our Dogs<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to "Our Dogs Journey", welcome_show_path %><li>
            <li><%= link_to "Foster Dogs", dogs_path %><li>
            <li><%= link_to "Adoptable Dogs", michigan_path %><li>
          </ul>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Foster or Adopt<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><%= link_to "Foster Application", welcome_show_path %><li>
              <li><%= link_to "Adoption Application", adoption_path %><li>
            </ul>
          </li>
        </li>
        <li><%= link_to "Ways To Help", donate_path %></li>
        <li><%= link_to "Contact Us", new_contact_path %></li>
        <li><%= link_to "Login", new_user_session_path %></li>   
      </ul><!-- nav navbar-nav -->
    </div><!--/.nav-collapse -->
  </div><!-- container -->
</nav>
          
      
       