<!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Compass Dog Rescue</h1>
        <p>Rescuing dogs in the south to their forever homes in the north.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Michigan</h2>
          <p>Royal Oak, Michigan is the last stop for our fosters before they are placed into their forever homes. Adoptions are based on compatibility of the adoptive families lifestyle along with the dog's personality. We do no work on a first-come or first-serve method.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Dog of The Week</h2>
          <p>Each week a foster dog is given the front page to our Website to showcase their story.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Texas</h2>
          <p>Dogs are fostered in Texas from 6 to 8 weeks before they are transported to Royal Oak, Michigas. Foster
            homes are still needed for dogs to adjust to their new environment while adoption applications are reviewed.Fosters provide additional stability for the dogs and meet-and-greet arrangement for potential adoption families. 
          </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>