<!-- Display jumbotron -->
<%= render 'shared/jumbotron' %> 

<!-- Styling supported by welcome.scss -->
<!-- 1st Section Pet of The Week -->
 <div class="container-fluid bg-grey">
   <div class="row">  
    <div class="col-lg-12">
      <div class="about-center">  
        <%= image_tag("cilantro.jpg", class: "img-responsive img-circle center-block", alt: "Dog of the week") %>
        <h2>Our Dog of The Week</h2>   
        <h2><i>Cilantro</i></h2> 
      </div><!-- ./about-center -->   
    </div><!-- ./col-lg-12 -->
  </div><!-- ./row -->
</div><!-- ./container-fluid bg-grey -->

<!-- 2nd Section Announcements -->
<div class="container-fluid bg-white">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h1>Adoption Events</h1>
        </div>
        <div class="panel-body">
          <p class="lead">We are fortunate to hold our adoption events at <i>Beaches Pet Resort and Training Center</i>. Volunteers are needed.</p>
          <div class="panel-info">
            <h3>Day: Sunday, July 16</h3>
            <h3>Time: 1pm - 4pm</h3>
            <h3>Day: Sunday, August 01</h3>
            <h3>Time: 1pm - 4pm</h3>
          </div>
        </div><!-- ./panel-body --> 
        <div class="panel-footer">
          <%= button_to "Learn More", donate_path, class: 'btn btn-default center-block' %>
        </div>
      </div><!-- ./panel panel-default --> 
    </div><!--./col-sm-4 col-sm-offset-4 -->   
  </div><!-- ./row -->
</div><!-- ./container-fluid panel -->

<!-- 3nd Section About Us -->
<div class="container-fluid bg-grey">
   <div class="row">  
    <div class="col-lg-12">
      <div class="about-center">  
        <%= image_tag("reggie.jpg", class: "img-responsive img-circle center-block ", alt: "Reggie And Cat") %>
        <h2>About Us
        </h2>   
        <p class="lead">Compass began with a single individual with a big dream. We have since grown into a small network of volunteers working in Texas and Michigan. Learn who we are, and what we do. <%= button_to "Learn more", about_path, class: 'btn btn-default center-block' %> 
        </p> 
      </div>
    </div><!-- ./col-lg-12 -->
  </div><!-- ./row -->
</div><!-- ./container-fluid bg-grey -->

<!-- 4th Section Buzz Birthday -->
<div class="container-fluid bg-white">
  <div class="row">
    <div class="col-md-8 buzz-left">
      <h2 class="heading">130 dogs, and counting...
      </h2>
      <p class="lead">We celebrated our one year anniversay on August 1st of 2016. <i>Buzz</i>, now Casey, was our first adoption. To celebrate Casey's <i>Gotcha Day</i>, his family threw a Pawty like none other! We are so glad that Casey and all the Compass dogs are doing so well.
      </p>
      <p class="lead">And we love the updates! Keep them coming! Thank you, to all that have made our first year so exciting and so successful! We are truly grateful. Oh - and Happy Birthday Casey!! 
      </p>
    </div><!-- ./col-sm-8 buzz-left -->
    <div class="col-md-4 buzz">    
      <%= image_tag("buzz.jpg", class: "img-responsive img-circle center-block buzz", alt: "Buzz Birthday") %>
    </div>
  </div><!-- ./row -->
</div><!-- ./container-fluid bg-white -->




