<!-- Styling supported by welcome.scss -->
<!-- Journey Page Content -->
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <h2 class="headers">Our Dogs Journey</h2>
      <hr>
    </div>
  </div><!-- ./row -->
   
  <!-- Street Strays description-->
  <div class="row space"> 
    <div class="col-md-8 feature-left">
      <h3 class="journey-title">South Texas Strays</h3>
      <p>South Texas has a high stray and loose pet population. It's not uncommon to see dogs roaming the streets in certain areas of town. These dogs are usually various mixed breeds in poor health with bad nutrition.</p> 
      <p>We work with foster parents in several cities such as Laredo, Bastrop, New Braunfels, and San Antonio to rescue dogs from their city's shelter. But most of our dogs are pulled from the San Antonio city shelter called Animal Care Services.</p> 
    </div>
    <div class="col-md-4"> 
      <%= image_tag("four_strays.jpg", class: "img-responsive journey-img center-block right",  alt: "Four Stray Dogs") %> 
    </div>       
  </div><!-- /.row space -->
  <hr>

  <!-- ACS description -->
  <div class="row space">  
    <div class="col-md-8 feature-left">
      <h3 class="journey-title">Animal Care Services (ACS)</h3>
      <p>ACS is the city of San Antonio's facility for animal intake. Strays are usually obtained off the streets or confiscated by animal control officers and transported to the ACS facility. The dogs are given vaccinations, and a physical assessment, before being marketed for adoption or to other rescue partners. Dogs have a limited amount of time at ACS.  
      </p>  

      <!-- Link to ACS Logo --> 
      <%= link_to image_tag("acs_logo.png", class: "img-responsive journey-logos center-block"), "http://www.sanantonio.gov/Animal-Care/Home", alt: "ACS Logo", target: "_blank" %> 
      </div>   
    <div class="col-md-4">
      <%= image_tag("acs.jpg", class: "img-responsive journey-img center-block right",  alt: "ACS Building") %>    
    </div>
  </div><!-- ./row -->
  <hr>

  <!-- SAPA description -->
  <div class="row space">
    <div class="col-md-8 feature-left">
      <h3 class="journey-title">San Antonio Pets Alive (SAPA)</h3>
      <p>One local rescue called SAPA leases <i>Building 1</i> on the ACS grounds, and they act as a liaison between ACS and other rescue partners seeking to pull dogs. Compass communicates with SAPA to obtain a temperament test, a behavioral assessment, additional pictures and any other information about the dogs.</p> 
      <p>SAPA only pulls dogs from the euthanized by injection (EBI) list. So the dogs you adopt, were on their last day. Once Compass selects dogs into our program, we contact SAPA to schedule the sterilization surgery and arrange a pickup time. We also make arrangements to assign a foster parent.</p>
      
      <!-- Link to SAPA Logo -->
      <%= link_to image_tag("sapa_logo.jpg", class: "img-responsive journey-logos center-block"), "http://www.sanantoniopetsalive.org/", alt: "SAPA Logo", target: "_blank" %>
   </div>
    <div class="col-md-4">
      <%= image_tag("bldg_1.jpg", class: "img-responsive journey-img center-block right",  alt: "SAPA Building One") %>
    </div>
  </div><!-- ./row -->
  <hr>

  <!-- Freedom Ride Description -->
  <div class="row space">
    <div class="col-md-8 feature-left">
      <h3 class="journey-title">Freedom Ride!</h3>
      <p>Our dogs leave the SAPA facility on the day of their surgery in the afternoon. This day is known in the rescue world as the <i>Freedom Ride!</i> It marks the beginning of a dog's journey to their forever home. The assigned foster parent takes a picture of their dog loaded in their vehicle, ready to go home. These dogs are now Compass Dogs! From this day foward, we work on marketing and preparing the dogs for their trip up north.</p>                
    </div>
    <div class="col-md-4">
      <%= image_tag("boy.jpg", class: "img-responsive journey-img center-block right",  alt: "Boy") %> 
    </div>   
  </div><!-- ./row -->
  <hr>

  <!-- Foster Home Life Description -->
  <div class="row space">
    <div class="col-md-8 feature-left">
     <h3 class="journey-title">Foster Home Life</h3>
      <p>Compass dogs stay with their Texas foster parent until transportation up north is arranged. These dogs are treated as members of the family, learning social skills, enjoying home life and just being a dog.</p>
      <p>Since our dogs live at home, they live with children, other dogs, and cats. The foster parent can provide information on the dog's personality and behaviors. During this time, the foster parent will take pictures and create a biography of their dog that is posted on our Website.</p>
      <p>When foster parents receive their dog's transporation date, the foster parent is responsible for obtaining a health certificate from a licensed veterinarian. The parents send their dogs off with their medical record, packed food, snacks, and other items their dog will need for the trip.</p>
    </div>
    <div class="col-md-4">
     <%= image_tag("collage.jpg", class: "img-responsive journey-img center-block right",  alt: "Dogs At Home") %>
    </div>  
  </div><!-- ./row -->
  <hr>

  <!-- Transportation Day description -->
  <div class="row space">
    <div class="col-md-8 feature-left"> 
      <h3 class="journey-title">Transport Day!</h3> 
      <p>Fosters meet with transporters early Saturday morning to drop off their dogs for the trip up north. Our dogs will spend the next 3 days on their road trip. Saturday and Sunday night, the Compass dog stay at a volunteer's house for a sleepover.</p> 
      <p>We primarily rely on volunteer organizations <strong>Kindred Hearts Transporation Rescue (KHTC)</strong>, and <strong>The Liberty Train and Rescue (LTR)</strong> to transport our dogs. The volunteers of these groups give a few hours of their time during the weekend, and the use of their vehicles to move these dogs up north. </p>
      <p>Once a month, we also use a paid transportation company provided by Hope For Dogs.</p>
      <!-- KHTC and Liberty Train logos -->
      <p><%= link_to image_tag("khtc_logo.jpg", class: "img-responsive journey-logos-khtc pull-left"), "http://www.kindredheartstransportconnection.org/", alt: "KHTC Logo", target: "_blank" %>
       <%= link_to image_tag("train_logo.jpg", class: "img-responsive journey-logos-ltr pull-right"), "https://www.facebook.com/TheLibertyTrainandRescue/", alt: "LTR Logo", target: "_blank" %></p>
    </div>
    <div class="col-md-4"> 
      <%= image_tag("transport.jpg", class: "img-responsive journey-img center-block right",  alt: "Dewey, Madison, Skittles") %> 
    </div>
  </div><!-- ./row -->
  <hr>

  <!-- On The Road description --> 
  <div class="row space">
    <div class="col-md-8 feature-left">
      <h3 class="journey-title">On The Road</h3> 
      <p>From the moment the transport begins, everyone involved in this process such as the foster parents and transporters, are kept informed of the roadtrip with hourly updates. Our dogs receive the best care during their trip with plenty of breaks and treats during their travel. The transporters ensure the dogs sit where they are comfortable and feel safe.</p> 
      <p>Puppies are crated, but small dogs may be crated or sit in the front seat to prevent them from bring stepped on by larger dogs. No more than 3 adult dogs are transported at a time. For dogs not crated, blankets and pillows are spread throughout the interior and the dogs are leashed to prevent them from possibly escaping when doors are opened. And of course, more pictures are taken.</p>    
    </div>
    <div class="col-md-4"> 
      <%= image_tag("road_trip.jpg", class: "img-responsive journey-img center-block right",  alt: "Rob") %>
    </div>
  </div><!-- ./row --> 
  <hr>

  <!-- Slumber Party description -->    
  <div class="row space">
    <div class="col-md-8 feature-left">
      <h3 class="journey-title">Slumber Pawty!</h3>
      <p>Our dogs spend Saturday night and Sunday night at a volunteer's home called a <i>Slumber Pawty</i>. The dogs are walked, fed, and pampered after a long day's ride. They have no problems making themselves at home, and they have the run of the house. The foster parents spare no expense treating the dogs as their own, and making them feel comfortable. Our dogs leave again early the next morning.</p>   
    </div>
    <div class="col-md-4"> 
      <%= image_tag("pawty.jpg", class: "img-responsive journey-img center-block right",  alt: "Pawty Collage") %>  
    </div>         
  </div><!-- /.row space -->
  <hr>  

  <!-- Michigan Arrival description -->
  <div class="row space">
    <div class="col-md-8 feature-left">
      <h3 class="journey-title">Michigan At Last!</h3>
      <p>After 3 days of travel, our dogs finally arrive in Michigan, where they are received by their Michigan foster parents. The dogs will spend the remainder of their time acclimating to the new environment while applications are reviewed and meet-and-greets arranged.</p> 
      <p>While we may never know how our dogs came to be on the streets, or how long, we know their journey leads them to loving, forever homes. It's through the network of many volunteers, these dogs arrive at a new beginning toward a happy life.</p>
      <p class="special">Because every dog deserves this.</p>
    </div>
    <div class="col-md-4">
      <%= image_tag("home.jpg", class: "img-responsive journey-img center-block right",  alt: "Reese By Water") %> 
    </div><!-- ./col-md-4 -->
  </div><!-- ./row -->
</div><!-- ./container -->
