<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
        <h1 class="contact-title">Contact Us</h1>
        <p class="contact-title">We normally respond within 24 hours. Thank you.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= simple_form_for @contact, validate: true do |f| %>
        <% if @contact.errors.any? %>
          <h2>There are <%= pluralize(@contact.errors.count, "error") %></h2>
           <ul>
             <% @contact.errors.full_messages.each do |msg| %>
             <li><%= msg %></li>
             <% end %>
           </ul>
        <% end %>
      
        <%= f.input :first_name %>
        <%= f.input :last_name %>
        <%= f.input :subject %>
        <%= f.input :email %>
        <p>
        <label>Upload Attachment</label>
          <%= image_tag(@contact.attachment_url) if @contact.attachment? %>
          <%= f.file_field :attachment %>
          <% f.hidden_field :attachment_cache %>    
        </p>
        <p>
        <label>
          <%= f.check_box :remove_attachment %>
          Remove Attachment
        </label>
        </p>
        <%= f.input :description %>
        <%= f.submit "Submit", class: 'btn btn-success center-block' %>
      <% end %>  
    </div><!-- ./col-md-6 col-md-offset-3 -->
  </div><!-- ./row -->
</div><!-- ./container-fluid -->



