<div class="container-fluid">
  <div class="row">
    <div class="panel panel-default accept-form center-block">
      <div class="panel-heading accept-title">
        <div class="alert alert-success" role="alert">
          <h1>Request Received</h1>
        </div>
        <div class="panel-body accept-body">
          <p>Thank you, we have received your request and you should have received an email confirmation.</p>  
        </div>
        <div class="panel-footer accept-footer">
        <p>
          <%= link_to "Return to Contact Us Form", new_contact_path %>       
        </p>
        </div>
      </div><!-- panel-heading -->
    </div><!-- panel panel-default -->
  </div><!-- row -->
</div><!-- container -->

