//Display error message if deleting fails

<% if @contact.destroyed? %>
  $('#contact-' +<%= @contact.id %>).hide();
<% else %>
  $<'#contact-' +<%= @contact.id %>.prepend("div class='aler alert-danger'><%= flash[:error] %></div");
<% end %>