<!-- Styling under login.scss -->

<div class="container-fluid">
  <div class="col-md-6 col-md-offset-3">
    <div class="login-fields">
      <h1 class="login-title">Log In</h1>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true %>
        </div>
        <div class="field">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "off" %>
        </div>
        <% if devise_mapping.rememberable? -%>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end -%>
        <div class="actions">
          <%= f.submit "Submit", class: 'btn btn-success' %>
        </div>
        <% end %>
        <%= render "devise/shared/links" %>
      <!-- Add space between footer -->
      <div class="row space"></div>
    </div><!-- login-fields -->
  </div><!-- col-md-6 col-md-offset-3 --> 
</div><!-- container -->