@import "variables.scss";
@import "mixins.scss";


// FORM.HTML.ERB 

.contact-title {
  text-align: center;
}


// Change color of error mgs from client_side_validations.rb  
.field_with_errors.message {
  color: #FF0000; 	    
} 

.btn.btn-success.center-block {
  width: 200px;
}

// Center msg text 
.alert.alert-success {
  text-align: center;
}

// ACCEPT.HTML.ERB setup in a panel 
.panel.panel-default.accept-form.center-block {
  max-width: 800px;  
}

// Set text and bg color 
.panel-heading.accept-title {
  background-color: #EEE; /* Light Grey */
  border-color: #EEE; /* Light Grey */
  color: #FFF;
  text-align: center;
}

// Make panel body larger for easier viewing 
.panel-body.accept-body {
  background-color: #FFF; /* White */
  color: #000;
  text-align: center;
  padding: 40px;
}

// Add padding to footer 
.panel-footer.accept-footer {
  padding: 15px;
  border: 1px;
  text-align: center;
}



