@import "variables.scss";
@import "mixins.scss";


//
/*@mixin padcontainer-login {
padding-top: 
  padding-bottom: 60px
} */


// _FORM.HTML.ERB 
// Center pg header 
#adoptable-title {
  text-align: center;
}

// Set column to center of pg
.col-md-6.col-md-offset-3 {
  padding-bottom: 50px;
}

// INDEX.HTML.ERB 
.adoptable-header {
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
}

// INDEX.HTML.ERB and SHOW.HTML.ERB 
// Set img size on foster and adoptable dogs 
.img-responsive.img-adoptable.center-block {
  width: 300px;
  height: 300px;
}

// Set column width to allow 3 columns per pg 
.col-md-4.adoptable-profile {
  width: 390px;
}

// Center Dog name and Animal ID
.dog-title {
  text-align: center;
}

// Style list items 
.description {
  font-size: 14px;
  font-family: $fontmain;
  margin-left: -10px;
}

// Style the paragraph for dog description portion 
.dog-description {
  padding-top: 20px;
  margin-left: 25px;
  font-size: 14px;
  font-family: $fontmain;
}

// DONATE.HTML.ERB
// Center address and paypal
.special {
  @include block;
}

// Add space between sections, and footer 
.row.space {
  @include padcontainer;
}

