
@import "variables.scss";
@import "mixins.scss";

// Widen input fields 
.login-fields input, textarea, select, .uneditable-input  {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
}

.login-fields input {
  height: auto !important;
}

// Center title 
.login-title {
  text-align: center;
}

// Give space between sections, and footer 
.row.space {
  @include padcontainer-index;
}

