@import "variables.scss";

// Size page headers, center align
@mixin page-headers  {
  text-align: center;
  font-family: $fontmain;
  margin-top: 5px;
  margin-bottom: 5px;
}

// Style all buttons and center, chg bg color on hover
@mixin button {
  margin: 15px 0;
  background-color: $darkblue !important;
  color: $white !important;
  margin: auto;
  &:hover {
    border: 1px solid $darkblue;
    background-color: $white !important;
    color: $darkblue !important;
  }
}

// Center blocks of text, usually addr
@mixin block {
  text-align: center;
  font-weight: bold;
}


// Home pg: bgcolor grey containers 
@mixin bg-grey {
  background-color: $litegrey;
  padding-top: 100px;
  padding-bottom: 100px;
}

// Home pg: bgcolor white containers, add padding 
@mixin bg-white {
  background-color: $white;
  padding-top: 100px;
  padding-bottom: 100px;
}

// Size circle images 
@mixin imgmain {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

// Pad other container fluid, and give space btwn sections on ABOUT.HTML.ERB 
@mixin padcontainer {
  padding-top: 60px;
  padding-bottom: 60px;   
}

// Add padding to containers on home/Index page 
@mixin padcontainer-index {
  padding-top: 100px;
  padding-bottom: 100px;
}

// Size logos 
@mixin logos {
  width: 125px;
  height: 125px;
  position: relative;
}

// Size sq images, align rt 
@mixin imgabout-right {
  margin-top: 5px;
  width: 350px;
  height: 350px;
  padding-right: 20px;
}

// Size sq images, align left 
@mixin imgabout-left {
  margin-top: 5px;
  width: 350px;
  height: 350px;
  padding-left: 20px;
}


// Center 
@mixin info {
  text-align: center;
  font-weight: bold;
}



