@import "variables.scss";
@import "mixins.scss";


// All pgs 
// All buttons 
.btn.btn-default.center-block {
  @include button;
}

// All pgs 
// Center page header 
.headers {
  @include page-headers;
}

// Home pg
// Space for flash notice to display at top of pg 
.notice {
  margin-top: 50px;
}

// Body, allow space between jumbotron and page headers 
body {
  padding-top: 70px;
  font-family: $fontmain; 
  font-size: 20px; 
  background-color: $white; 
}

// Home pg: style all paragraphs 
.lead {
  line-height: 1.4; 
}

// NAVBAR.HTML.ERB 
// Resize Compass logo, position top left 
.img-responsive.img-logo.center-block {
  width: 115px;
  height: 115px;
  position: relative;
  top: -40px;
}

// Chg bg color, shorten nav bar height 
.navbar-default {
  background-color: $white;
  border-color: $white;
  height: 120px;
}

.navbar-fixed-top {
  border-width: 0 0 1px;
}

// Pad nav from top of browser, center align 
.nav.navbar-nav {
  position: relative;
  top: 35px;
  left: 100px;
}

// JUMBOTRON
// Partial, chg bg color 
.jumbotron {
  background-color: $white; 
}

// Center Compass title 
#compass-title {
  text-align: center;
  font-family: $fontmain;
}

// INDEX.HTML.ERB 
// 2 white containers, chg bg color, pad top and bottom
.container-fluid.bg-white {
  @include bg-white;
}

// 2 grey containers, chg bg color, pad top and bottom
.container-fluid.bg-grey {
  @include bg-grey; 
}

// 2nd Section: ANNOUNCEMENTS 
// Style title add padding from panels
.panel-title {
  text-align: center;
  padding-bottom: 50px;
}

.panel.panel-default {
  border: 1px solid $darkblue; 
  border-radius:0;
  transition: box-shadow 0.5s;
}

// Give movement when hover over panel
.panel.panel-default:hover {
  box-shadow: 5px 0px 40px rgba(0,0,0, .2);
}

// Center title, chg bg color
.panel-heading {
  color: $white !important;
  background-color: $darkblue !important;
  padding: 25px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  text-align: center;
}

// Center adoption days, times, Amazon link
.panel-info {
  @include block;
}

// Pad footer allow space for btn
.panel-footer {
  background-color: $white !important;
  @include block;
}

// 3rd section: ABOUT US 
// Style buzz img 
.col-md-8.buzz-right {
  font-family: $fontmain;
  font-size: 20px;
  padding-right: 55px;
}

// Size 2 circle images  
.img-responsive.img-circle.center-block {
  @include imgmain;
}

// 4th Section: BIRTHDAY, size and align img 
.img-responsive.img-circle.center-block.buzz {
  @include imgmain; 
}

// FOOTER section 
// Chg bg and text colors  
.container-fluid.bg-blue {
  background-color: $darkblue; 
  color: $white !important; 
  padding-top: 20px;
  padding-bottom: 20px;
}

// Center FB logo 
.col-md-4.center-logos {
  @include block;
}

// Style scroll button to top 
.pull-right {
  color: $white !important; 
  background-color: #483D8B !important;
}

// ABOUT.HTML.ERB 
// Pad left side to align 
.col-md-8.feature-left {
  font-family: $fontmain;
  font-size: 20px;
  padding-left: 55px;
}

// Center text for 3 containers 
.about-center {
  text-align: center;
  line-height: 1;
  letter-spacing: -1px;
}

// Add space between sections, and footer 
.row.space {
  @include padcontainer;
}

// Size images, align left 
.img-responsive.img-about.center-block.left { 
  @include imgabout-left;
}

// Size images, align right 
.img-responsive.img-about.center-block.right { 
  @include imgabout-right;
}

// Size heart glyphicon increase size, chg color, center 
.heart {
  color: $pink; 
  font-size: 150px;
  position: relative;
  left: 150px;
}

// JOURNEY VIEW aka SHOW.HTML.ERB 
// Align title tops with adjacent pics 
.journey-title {
  margin-top: 5px;
}

// Size all images, align right 
.img-responsive.journey-img.center-block.right {
  @include imgabout-right;
}

// Center SAPA and ACS logos
.img-responsive.journey-logos.center-block {
  @include logos;
}

// Center KHTC logo 
.img-responsive.journey-logos-khtc.pull-left {
  @include logos;
  left: 100px;
}

// Center Liberty Train logo 
.img-responsive.journey-logos-ltr.pull-right {
  @include logos;
  right: 100px;
}

// Quote for Reese 
.special {
  @include block;
}






